frontend.carousel-control-prev-icon{
    background-color: #FF0869;
    width: 20px;
    height: 60px;
    padding: 10px 10px 10px 10px;
    display: block;
    border-radius: 10px;
}
.carousel-control-next-icon{
    background-color: #FF0869;
    width: 20px;
    height: 60px;
    padding: 10px 10px 10px 10px;
    display: block;
    border-radius: 10px;
}
.carousel-indicators{
    background-color: black;
}
.carousel-control-next{
    width: 25px;
    position: absolute;
}
.carousel-control-prev{
    width: 25px;
    position: absolute;
}