.cghead{
    font-family: open sans, sans-serif;
    text-transform: uppercase;
    margin-left: 5px;
    letter-spacing: .1rem;
}
.logoxl{
    width: 45px;
    margin-left: 55px;
}

.sidebar{
    display: flex;
    justify-content: space-evenly;
}
.colxl{
    display: flex;
    justify-content: space-evenly;
}
.btnxl{
    background: transparent;
    font-size: 17px;
    font-weight: 600;
    border: none;
    padding: 8px;
    height: fit-content;
    outline: none !important;
}
.btnxl:hover{
    color: gray;
}
.orangebtn{
    background-color: #FF4E00;
    border-radius: 20px;
    color: white;
    width: 125px;
    border:none;
}
.hidebtn{
    display: none;
}
.barsIcon{
    display: none !important;
}
@media (max-width:770px){
    .btnxl{
        font-size:13px !important;
    }
    .barsIcon{
        display: block !important;
        text-align: center;
    }
    .sidebar {
        position: fixed !important;
        transition-delay:width  1s;
        box-shadow: 5px 10px 18px #888888;
        height: 100vh;
        z-index: 10;
        justify-content: flex-start;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding:inherit !important;
        top: 0;
        right: 0;
        background-color:white;
        border:1px solid black;
      }
      .logoxl{
        width:31px;
        margin-left: 20px;
    }
    .cghead{
        font-size: x-small;
    }
    .orangebtn{
        width: 100px;
    }
}